@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css');

/* INFORMAÇÕES */
.informacoes {
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
}

.informacoes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.informacoes h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--quaternary-color);
    font-weight: 600;
}

/* BACKGROUND EDUCAÇÃO */
.educacao-background {
    height: 100%;
    width: 55%;
    background-image: url('../img/background-informacoes.svg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BOX EDUCAÇÃO */
.educacao {
    position: absolute;
    margin-top: -20%;
    display: flex;
    padding: 70px;
    gap: 40px;
    flex-direction: column;
    background-color: var(--quaternary-color);
    width: 50%;
    height: auto;
    border-radius: 30px;
}

.educacao h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
    font-weight: 600;
}

.educacao-opcoes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.educacao-opcoes .active {
    background-color: var(--primary-color);
    color: var(--quaternary-color);
}

/* ANOS */
.ano {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    padding: 1rem;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
    color: var(--primary-color);
    gap: 20px;
}

.ano:hover {
    background-color: var(--primary-color);
    color: var(--quaternary-color);
}

/* DETALHES EDUCAÇÃO */
.educacao-detalhes {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 10px;
}

.educacao-detalhes-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.educacao-detalhes-container p {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.5rem;
}

.educacao-detalhes article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.educacao-detalhes h3 {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 700;
    text-transform: uppercase;
}

.educacao-detalhes span {
    font-size: 1.5rem;
    color: var(--secondary-color);
    font-weight: 800;
    text-transform: uppercase;
}

/* IDIOMAS */
.idiomas {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* DETALHES PESSOAIS */
.detalhes {
    display: flex;
    flex-direction: row;
    height: auto;
    gap: 80px;
}

.detalhes .hobbie {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.detalhes h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--quaternary-color);
}

.detalhes span {
    font-size: 25px;
    font-weight: 300;
    color: var(--quaternary-color);
}

.informacoes-pessoais {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70vh;
    gap: 100px;
    justify-content: center;
}

/* HOBBIES */
.hobbie-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.hobbie {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hobbies {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hobbie i {
    font-size: 4rem;
    color: var(--quaternary-color);
}

/* MEDIA QUERIES */
@media (max-width: 1600px) {
    .educacao-detalhes-container p { font-size: 1.2rem; }
    .subtitulo { font-size: 2rem; }
    .informacoes-pessoais { gap: 50px; }
    .idiomas { gap: 10px; }
    .hobbies { gap: 10px; }
    .hobbie i { font-size: 2rem; }
    .hobbies p, .idiomas p { font-size: 1.8rem; }

    .detalhes h3 { font-size: 1.2rem; }
    .detalhes span { font-size: 1rem; }

    .educacao-detalhes h3 { font-size: 1.5rem; }
    .educacao-detalhes span { font-size: 1rem; }
    .educacao-detalhes p { font-size: 1.2rem; }
}

@media (max-width: 1200px) {
    .educacao-detalhes article { height: auto; }

    .informacoes-pessoais {
        width: 100%;
        height: auto;
        gap: 30px;
    }

    .detalhes h3 { font-size: 1rem; }
    .detalhes span { font-size: 16px; }

    .educacao-detalhes span { font-size: 0.8rem; }
    .educacao-detalhes p { font-size: 1rem; }
    .educacao-detalhes h3 { font-size: 1rem; }

    .informacoes {
        height: auto;
        padding: 20px;
    }

    .educacao-background {
        width: 100%;
        height: 100%;
        background-image: none;
    }

    .educacao-opcoes {
        display: flex;
        gap: 15px;
        height: auto;
        width: 100%;
        flex-wrap: wrap;
        justify-content: initial;
    }

    .educacao {
        position: relative;
        width: 100%;
        height: auto;
        padding: 20px;
        margin-top: 0;
    }

    .ano {
        width: 70px;
        height: 45px;
        font-size: 0.8rem;
    }

    .informacoes-container {
        flex-direction: column;
        gap: 35px;
    }

    .hobbie i {
        font-size: 2rem;
    }
}
