.card-conteudo {
    display: flex;
    background-color: white;
    border-radius: 25px;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
    width: 100%;
}

.desenvolvedor a{
    all: unset; /* Reseta todas as propriedades */
    color: var(--quaternary-color) !important; /* Sua cor personalizada */
    cursor: pointer; /* Mantém o cursor de link */
    text-decoration: none !important; /* Remove sublinhado */
    display: inline; /* Mantém comportamento de linha */
}

/* Remove todas as variações de estado do link */
.desenvolvedor:visited,
.desenvolvedor:hover,
.desenvolvedor:focus,
.desenvolvedor:active {
    all: unset;
    color: var(--quaternary-color) !important;
    text-decoration: none !important;
    cursor: pointer;
}

.card-img {
    display: flex;
    width: auto;
    height: 300px;
    border-radius: 20px;
    background-color: brown;
    align-items: end;
    justify-content: end;
    padding: 25px;
}

.publiTitulo {
    display: flex;
    width: 40%;
    flex-direction: column;
    gap: 50px;
}

@media screen and (max-width: 1600px) {
    .card-img {
        height: 200px;
    }
}