.card-conteudo {
    display: flex;
    background-color: white;
    border-radius: 25px;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}

.card-img {
    display: flex;
    width: auto;
    height: 300px;
    border-radius: 25px;
    background-color: brown;
    align-items: end;
}

.publiTitulo {
    display: flex;
    width: 25%;
    flex-direction: column;
    gap: 50px;
}