.projeto-container {
    display: column;
    padding:100px;
    gap: 50px;
    background-color: var(--background-color);
}

.projeto-body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
}

@media screen and (max-width: 1600px) {
    .projeto-container {
        padding: 100px 50px 50px 50px;
    }

    
}

@media screen and (max-width: 700px) {
    .projeto-container {
        padding: 100px 20px 20px 20px;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
    
}