/* Estilos para o container principal */
.video {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  height: 100%;
}

/* Estilos para o texto */
.video-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 35%;
  z-index: 2;
}

.video-text h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.video-text p {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Estilos para o player de vídeo */
.video-player {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1; /* Acima do fundo */}

.video-player video {
  width: 80%;
  height: 70%;
  object-fit: cover;
  display: block;
  border-radius: 20px; /* Bordas arredondadas */
  margin-right: 50px;
  z-index: 2; /* Garante que o vídeo fique acima do background */
}

/* Estilos para o background do vídeo */
.video-background {
  position: absolute;
  top: 0;
  left: 60%;
  width: 90%; /* Mantém a proporção original */
  height: 100%; /* Mantém a proporção original */
  object-fit: contain; /* Mantém a proporção da imagem */
  z-index: 1; /* Coloca o background atrás do vídeo */
  margin-right: 60px; /* Mantém o espaçamento original */
}


/* Responsividade */
@media (max-width: 1200px) {
  .video {
    padding: 30px 20px;
  }

  .video-text {
    width: 45%;
  }

  .video-text h2 {
    font-size: 1.5rem;
  }

  .video-text p {
    font-size: 1rem;
  }

  .video-player {
    width: 50%;
  }

  .video-player video {
    height: auto;
  }
}

@media (max-width: 992px) {
  .video {
    flex-direction: column;
    gap: 40px;
    padding: 30px 20px;
  }

  .video-text,
  .video-player {
    width: 100%;
    max-width: 100%;
  }

  .video-player video {
    width: 100%;
    height: auto;
  }

  .video-background {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.1;
  }
}
