
.resumo {
    background-color: var(--background-color);
    background-image: url("../img/background-resumo.svg");  
    background-repeat: no-repeat;
    background-size: cover;

}

.atividades {
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 600;
    font-family: 'alexandria', sans-serif;
}

.atividades li {
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    padding: 15px;
    text-transform: uppercase;
}


.resumo-content {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    padding: 0;
    width: auto;
}

ul li {
    width: auto;   
}

ul li span {
    font-weight: bold;
    color: #f89d43;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.extra-skills span {
    display: inline-block;
    background-color: #5b3858;
    color: white;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.hobbies ul, .linguas ul {
    display: flex;
    flex-wrap: wrap;
}

.hobbies li, .linguas li {
    margin-right: 15px;
}

.experiencia {
    font-family: Arial, sans-serif;
    color: #fff;
    width: 30%;  
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.experiencia-container {
    display: flex;
    height: auto;
    justify-content: space-between;
    gap: 40px; 
    width: 100%;
}

.experiencia-lista {
    width: 60%;
    height: auto;
    background-color: var(--quinary-color);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 25px 40px 0;
}

.experiencia-lista ul {
    list-style: none;
    margin: 0;
}

.experiencia-lista li {
    padding: 15px 10px 15px 30px; /* Ajuste aqui: aumente o padding-left */
    cursor: pointer;
    color: #7a7a7a;
    border-left: 3px solid transparent;
    transition: 0.3s;
    font-weight: 500;
    font-family: 'alexandria', sans-serif;
    font-size: 1.7rem;
}

.experiencia-lista li:hover,
.experiencia-lista .ativo {
    color: var(--primary-color);
    border-left: 8px solid var(--quaternary-color);
}

.experiencia-lista .ativo {
    font-weight: 600;
}

.experiencia-lista li:hover {
    background-color: #5b38580f;
}

.experiencia-detalhes {
    padding: 40px;
    border-radius: 30px;
    background-color: var(--quinary-color);
    display: flex; 
    gap: 40px;
    justify-content: center;
    flex-direction: column;
    width: auto;
}

.experiencia-contain {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.subtitulo-experiencia {
    margin: 0;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-family: var(--primary-font);
    text-transform: uppercase;
    width: auto;
    font-weight: 600;
}

.experiencia-detalhes span {
    font-size: 25px;
    font-weight: 600;
    color: var(--quaternary-color);
    text-transform: uppercase;
    width: auto;

}

.paragrafo-resumo {
    font-size: 25px;
    height: 40%;
    color: var(--primary-color);
    font-weight: 300;
    box-sizing: border-box;
}

.descricao-experiencia {
    margin-top: 20px;
    color: var(--primary-color);
    font-size: 20px;
}



/*HABILIDADES TÉCNICAS*/

/* HABILIDADES TÉCNICAS */
.habilidades-tecnicas {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.habilidades-tecnicas-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


/* Ícones de habilidades */
.habilidades-icones {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
}

.icone {
    font-family: 'alexandria', sans-serif;
    text-transform: uppercase;
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f89d43;
    color: var(--primary-color);
    font-size: 12px;
    font-weight: bold;
    border-radius: 8px;
    padding: 20px 25px 20px 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icone i {
    font-size: 1.3rem; /* Ajuste o tamanho dos ícones */
    color: var(--primary-color);   /* Ajuste a cor conforme necessário */
}


/* Tags adicionais */
.habilidades-tags {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.habilidades-tags span {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    padding: 20px 30px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 1600px) {

    .atividades li {
        border-radius: 15px;
    }

    .habilidades-tags {
        margin-top: 20px;
    }
    

    .experiencia-lista {
        width: 100%;
    }
    .experiencia-lista li {
        font-size: 1rem;
    }

    .subtitulo-experiencia {
        font-size: 1rem;
    }
    
    .experiencia-detalhes span {
        font-size: 1rem;
    
    }
    
    .paragrafo-resumo {
        font-size: 1rem;
    }

    .subtitulo2 {
        font-size: 1rem;
    }

    .atividades li {
        padding: 10px;
        font-size: 0.6rem;
    }

    .experiencia {
        width: 18%;
    }

    .habilidades-tecnicas {
        width: 38%;
    }

    .habilidades-tags span {
        padding: 15px 25px;
        font-size: 0.8rem;
    }
}

@media (max-width: 1200px) {
    .atividades {
        display: flex;
        flex-direction: column;
    }

    .experiencia {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .experiencia-detalhes {
        width: 100%;
        height: auto;
    }

    .experiencia-lista {
        width: 100%;
        height: auto;
        background-color: var(--quinary-color);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 20px 20px 0;
    }

    .experiencia-container {
        flex-direction: column;
        gap: 50px;
        width: 100%;
    }

    .resumo-content {
        flex-direction: column;
        gap: 50px;
    }

    .habilidades-tecnicas {
        width: 100%;
    }

    .habilidades-tags span {
        display: inline-block;
        background-color: var(--primary-color);
        color: var(--quaternary-color);
        padding: 15px 25px;
        border-radius: 30px;
        font-size: 12px;
        font-weight: 600;
    }
}