.projeto-container {
    display: flex;
    flex-direction: row;
    padding:100px;
    gap: 50px;
    background-color: var(--background-color);
}

@media screen and (max-width: 1600px) {
    .projeto-container {
        padding: 100px 50px 50px 50px;
    }
    
}