/* MenuLink.module.css */

/* Estilos para os links individuais */
.link {
    color: var(--quaternary-color);
    font-family: var(--primary-font);
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    align-items: center; /* Alinha verticalmente o texto */
    justify-content: center; /* Centraliza horizontalmente o texto */
    width: 100%; /* Adapta à largura do li */
    height: 100%; /* Garante que o link não ultrapasse a altura do navbar */
    border-radius: 50px;
    transition: background-color 0.3s ease; /* Transição suave no hover */
    box-sizing: border-box;
  }
  
  /* Estilo do link quando em hover */
  .link:hover {
    background-color: var(--quaternary-color);
    color: white;
    font-weight: 400;
  }
  
  /* Estilo do link quando ativo */
  .active {
    background-color: var(--quaternary-color);
    color: white;
    font-weight: 400;
  }
  